<div class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Site Web</mat-label>

    <input
      type="textarea"
      placeholder="Pick one"
      aria-label="Number"
      matInput

      [formControl]="myControl"
      [matAutocomplete]="auto"
      (keydown.enter)="_onEnter()"
    >

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let site of filteredOptions | async" [value]="site"  (onSelectionChange)="_onClick()">
        {{site}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>
</div>
