<div>
  <div class="mx-auto" style="width: 800px;">
    <div class="flex-item" style="display: block; text-align: center"><p>Graphique analyses d'une adresse IP </p></div>
    <div class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Site Web</mat-label>

        <input
          type="textarea"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
          (keydown.enter)="_onEnter()"
          (click)="_onClick()">

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let site of filteredOptions | async" [value]="site" (onSelectionChange)="_onClick()">
            {{site}}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>
    </div>
    <div style="display: block" class="mesBlocs">
      <canvas baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [type]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
<!--      <div class="flex-item">-->
<!--        <div style="display: block;">-->
<!--          <canvas baseChart width="400" height="400"-->
<!--                  [data]="lineChartData"-->
<!--                  [options]="lineChartOptions"-->
<!--                  [type]="lineChartType"-->
<!--                  (chartHover)="chartHovered2($event)"-->
<!--                  (chartClick)="chartClicked2($event)"></canvas>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="flex-item">-->
<!--        <table class="table table-responsive table-condensed">-->
<!--          <tr>-->
<!--            <th *ngFor="let label of lineChartData.labels">{{label}}</th>-->
<!--          </tr>-->
<!--          <tr *ngFor="let d of lineChartData.datasets; let i=index" [class]="'line-'+i">-->
<!--            <td *ngFor="let label of lineChartData.labels; let j=index">{{d && d.data[j]}}</td>-->
<!--          </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--    <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>-->
<!--  </div>-->
</div>
</div>
